<br><br>
<div class="container py-1" id="pestania">
  <div class="row align-items-center">
    <div class="col-lg-3 text-lg-center col-sm-12 text-sm-center">
      <h5></h5>
      <h5>Experiencias Laborales </h5>  
    </div>
    <div class="col-lg-9 text-lg-start col-sm-12 text-sm-center" *ngIf="conectado()">
      <button class="btn">
        <img id="iconEditar" src="../../assets/icons-svg/edit.svg" alt="iconsPencel" href="#modalWord" role="button" data-bs-toggle="modal" data-bs-target="#modalWord" />
      </button>
      <button class="btn">
        <img id="iconEditar" src="../../assets/icons-svg/add.svg" alt="iconsPencel" href="#modalAdd" role="button" data-bs-toggle="modal" data-bs-target="#modalAdd" />
      </button>
      <button class="btn">
        <img id="iconEditar" src="../../assets/icons-svg/delete.svg" alt="iconsPencel" href="#modalDelete" role="button" data-bs-toggle="modal" data-bs-target="#modalDelete" />
      </button>
    </div> 
  </div> 
</div>

<div class="container" id="contenedorIndividual">
    <div class="row align-items-center py-3" *ngFor="let word of wordExperience">
      <div class="col-3 text-center">
        <img class="imagenWorkEducation" src="{{ word.url_logo }}" alt="Imagen-empresa" />
      </div>
      <div class="col-8">
        <h5> {{ word.name }} </h5>
        <h6> {{ word.job }} </h6>
        <h6> Duración: {{ word.duration }} </h6>
        <span> {{ word.chores }} </span> 
      </div>
    </div>
  </div>

  <!-- //////////// modal eliminar //////////////// -->

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
          <form>
            <div class="mb-3 align-items-center" *ngFor="let wordDelete of wordExperience">
              <label for="recipient-name" class="col-form-label">Nombre de la Empresa:</label><br>
              <strong>{{wordDelete.name}}</strong><br>
              <label for="recipient-name" class="col-form-label">id: {{wordDelete.id}}
                <button class="btn btn-light" *ngIf="conectado" style="color: brown;" (click)="deleteDB(wordDelete)">
                  <img id="iconEditar" src="../../assets/icons-svg/delete.svg" alt="iconsPencel" />Eliminar
                </button><br><br>
              </label>
              <div class="modal-footer">
              </div>   
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  

  <!-- ////////////modal de agregar experiencia new//////////////// -->

<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"> 
          <h5 class="modal-title">Agregar Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form novalidate (ngSubmit)="addDB()" [formGroup]="newWord"> 
            
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre de la Empresa:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Microsoft"/>
                </div>
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Cargo:</label>
                <input type="text" class="form-control" formControlName="job" placeholder="Desarrollador FrontEnd" />
                </div>
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Actividades o Roles:</label>
                <textarea class="form-control" id="message-text" formControlName="chores" placeholder="Desarrollar el FrontEnd para el proyecto"></textarea>
                </div>
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Duración:</label>
                <input type="text" class="form-control" formControlName="duration" placeholder="1 anio y 6 meses" />
                </div>
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Logo de la Empresa (url):</label>
                <input type="text" class="form-control" formControlName="url_logo" placeholder="url de firebase"/>
                </div>
            
          </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="newWord.invalid" (click)="addDB()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>

  <!-- /////////////modal editar/////////////// -->

  <div class="modal" id="modalWord" aria-hidden="true" aria-labelledby="modalWordLabel" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngFor="let word1 of wordExperience"><br>
          
            <div class="mb-3">
              <h5>Empresa id: {{word1.id}}</h5>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre de la Empresa:</label>
              <input type="text"  class="form-control" [(ngModel)]="word1.name" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Cargo:</label>
              <input type="text" class="form-control" [(ngModel)]="word1.job" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Actividades o Roles:</label>
              <textarea class="form-control" id="message-text" [(ngModel)]="word1.chores"></textarea>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Duración:</label>
              <input type="text" class="form-control" [(ngModel)]="word1.duration" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Logo de la Empresa -url-:</label>
              <input type="text" class="form-control" [(ngModel)]="word1.url_logo" />
            </div>               
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" (click)="updateWordd()">Guardar Cambios</button>
        </div>
      </div>  
    </div>
  </div>